body, html {
    overflow: hidden; /* Hide overflow for the whole page */
    margin: 0;
    padding: 0;
}

h1 {
    z-index: 100;
    position: relative;
    margin: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(77, 126, 126);
}

#meta_grid {
    border: 1px;
    border-color: black;
    position: absolute;
    display:grid;
    grid-auto-columns: 365px;
    grid-gap: 3px;
    top:0;
    left:0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 20px); /* Creates 16 columns */
    grid-gap: 3px; /* This sets both row and column gaps to 10px */
  }

.tile {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: bisque;
}

.snakeBody {
    background-color: darkgoldenrod;
}

.appleTile {
    background-color: brown;
}

@keyframes spin-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes spin-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.spinning-right {
    animation: spin-right 20s linear infinite;
}

.spinning-left {
    animation: spin-left 20s linear infinite;
}