body, html {
    overflow: hidden; /* Hide overflow for the whole page */
}

#meta_grid {
    display:grid;
    grid-auto-columns: auto;
    grid-gap: 3px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 20px); /* Creates 16 columns */
    grid-gap: 3px; /* This sets both row and column gaps to 10px */
  }

.tile {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: bisque;
}

.snakeBody {
    background-color: darkgoldenrod;
}

.appleTile {
    background-color: brown;
}